{% if site.data.settings.team %}
<!-- team -->
<section class="section bg-cover" data-background="{{ site.baseurl }}/assets/images/backgrounds/team-bg.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My first band, "Cellar Darts"</h2>
      </div>
      {% for team-member in site.data.settings.team %}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ team-member.image | relative_url }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ team-member.title }}</h4>
            <p class="text-light font-secondary">{{ team-member.designation }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-title">Watch us play!</h2>
        <p class="col-md-8 mx-auto text-center">Warning: some explicit crowd moments!</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2uwJ4Z7Bj1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<!-- /team -->
{% endif %}